@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-switzer);
  --font-mono: var(--font-ibm-plex-mono);
  --color-accent: #0066cc;
  --color-accent-hover: #004c99;
  --color-accent-active: #003366;
}

body {
  background: white;
  color: black;
  font-family: var(--font-switzer), sans-serif;
}
